* {
  font-family: "rubik", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #1864ab, #5f3dc4);
}

main {
  padding-top: 150px;
}

.movie-container {
  width: 100%;
  max-width: 110rem;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;

  z-index: 1;
}

.image-container {
  position: relative;
}
.image-container:hover img {
  filter: blur(4px) brightness(50%);
}
.image-container:hover .movie-name {
  opacity: 1;
}

.movie-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-self: center;
}

.info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1050px;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 2fr;
  /* filter: blur(0px) !important; */
  z-index: 3;
}

.modal-image {
  object-fit: cover;
}
.info-modal p {
  padding: 10px;
}
.info-inner p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.wrapper {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(4px) !important;
  z-index: 2;
}

.invisible {
  display: none;
}

.poster-path {
  height: 234px !important;
  object-fit: cover !important;
}
.backdrop-path {
  height: 234px;
  object-fit: contain;
}
