.pagination {
  gap: 5px;

  padding: 20px 0px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.pagination button {
  color: #000;
  background-color: #fff;
  border: none;
  padding: 10px;
}
.pagination button:hover {
  background-color: #fff;
  color: red;
}
.pagination button:active {
  color: #000;
}
.carousel-outer h2 {
  font-size: 24px;
}
