.pagination {
  gap: 5px;

  padding: 20px 0px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  justify-content: center;
}
.pagination button {
  color: #000;
  background-color: #fff;
  border: none;
  padding: 10px;
}
.pagination button:hover {
  background-color: #fff;
  color: red;
}
.pagination button:active {
  color: #000;
}
.carousel-outer h2 {
  font-size: 24px;
}

@media only screen and (max-width: 350px) {
  .pagination {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .pagination {
    margin-left: 15px;
  }
}
