.responsive {
  margin: 10px 0px;
}
.slick-initialized .slick-slide {
  display: grid;
}

.item {
  height: 200px;
  position: relative;
}

.slick-prev,
.slick-next {
  z-index: 999;
}

.slick-prev {
  left: 20px;
  content: none;
}
.slick-prev::before {
  content: none;
}
.slick-prev::after {
  content: none;
}

.slick-prev ion-icon {
  color: #fff;
  width: 20px;
  height: 20px;
}

.slick-next {
  right: 20px;
  content: none;
}

.slick-next::before {
  content: none;
}
.slick-next::after {
  content: none;
}

.slick-next ion-icon {
  color: #fff;
  width: 20px;
  height: 20px;
}
.carousel-item--name {
  position: absolute;
  top: 50%;
  justify-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}
.item img {
  padding: 0 1px;
}

.item:hover img {
  filter: blur(4px) brightness(50%);
}

.item:hover .carousel-item--name {
  opacity: 1;
}
